/* 🎨 Patterns
=================================================================================== */

/**
* General
*/

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pattern::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
* Pattern #1
*/

.pattern--1::before {
  --s: 110px; /* control the size */
  --_g: #0000 52%,var(--color--tuatara) /* first color */ 54% 57%,#0000 59%; 
  background: 
   radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
   radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
   radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
   radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   var(--color--white-rock); /* second color */
  background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}

.dark-mode .pattern--1::before {
  --s: 110px; /* control the size */
  --_g: #0000 52%,var(--color--white-rock) /* first color */ 54% 57%,#0000 59%; 
  background: 
   radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
   radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
   radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
   radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   var(--color--tuatara); /* second color */
  background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}

/**
* Pattern #2
*/

.pattern--2::before {
  --s: 4px; /* control the size */
  --c: #0000 75%,var(--color--tuatara) 0;
  --g1: conic-gradient(at 75% 25%,var(--c));
  --g2: conic-gradient(at 25% 75%,var(--c));
  background: 
    var(--g1),var(--g1) var(--s) var(--s),
    var(--g2),var(--g2) var(--s) var(--s) var(--color--white-rock);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}

.dark-mode .pattern--2::before {
  --s: 4px; /* control the size */
  --c: #0000 75%,var(--color--white-rock) 0;
  --g1: conic-gradient(at 75% 25%,var(--c));
  --g2: conic-gradient(at 25% 75%,var(--c));
  background: 
    var(--g1),var(--g1) var(--s) var(--s),
    var(--g2),var(--g2) var(--s) var(--s) var(--color--tuatara);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}

/**
* Pattern #3
*/

.pattern--3::before {
  background:
    radial-gradient(var(--color--tuatara) 3px, transparent 4px),
    radial-gradient(var(--color--tuatara) 3px, transparent 4px),
    linear-gradient(var(--color--white-rock) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, var(--color--tuatara) 75px, var(--color--tuatara) 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, var(--color--tuatara) 76px, var(--color--tuatara) 77px, transparent 78px, transparent 109px),
    var(--color--white-rock);
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.dark-mode .pattern--3::before {
  background:
    radial-gradient(var(--color--white-rock) 3px, transparent 4px),
    radial-gradient(var(--color--white-rock) 3px, transparent 4px),
    linear-gradient(var(--color--tuatara) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, var(--color--white-rock) 75px, var(--color--white-rock) 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, var(--color--white-rock) 76px, var(--color--white-rock) 77px, transparent 78px, transparent 109px),
    var(--color--tuatara);
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
