:root {
  --font-family--heading: 'Young Serif', serif;
  --font-family--main: 'Rubik', sans-serif;

  --color--white-rock: #ede6da;
  --color--tuatara: #252423;
  --color--salmon: #047db7;
  --color--salmon-dark: #a8c7fa;
}
